@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #FFF0DE;
}

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  margin: 0;
  padding: 0;
  outline: 0px;
}

:root {
  --cinza-escuro: #4D4B4B;
  --cinza-claro: #B7B4B4;
  --laranja: #FDC166;
}