@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #FFF0DE;
}

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  margin: 0;
  padding: 0;
  outline: 0px;
}

:root {
  --cinza-escuro: #4D4B4B;
  --cinza-claro: #B7B4B4;
  --laranja: #FDC166;
  --laranja-escuro: #FFE9CE;
  --vermelho: #FA9696;
}

.button {
  width: 48%;
  height: 60px;
  margin-top: 10px;
  border: 0px;
  background-color: var(--laranja);
  border-radius: 8px;
  font-size: 14pt;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: .5s;
}

.button:hover {
  transition: .5s;
  opacity: .5;
}

.back-button {
  color: var(--laranja);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}